# Python cache
__pycache__/
*.py[cod]
.ipynb_checkpoints/

# Exclude heavy model checkpoints (only best_efficientnet.pth is tracked)
backend/best_vgg16.pth
backend/best_xception.pth

# System and environment files
.env
.venv
Thumbs.db
.DS_Store